flows.json
[{"id":"ce61c348.0d296","type":"tab","label":"Living Room","disabled":false,"info":""},{"id":"3bd8c115.3e42ae","type":"tab","label":"Kitchen","disabled":false,"info":""},{"id":"4f666315.2afffc","type":"tab","label":"Hallway","disabled":false,"info":""},{"id":"4ca21be4.5fec94","type":"tab","label":"Top Floor","disabled":false,"info":""},{"id":"4eea289e.b77d38","type":"tab","label":"Outside","disabled":false,"info":""},{"id":"ef1c2144.74e1","type":"tab","label":"Guest Room","disabled":false,"info":""},{"id":"dbfff416.5f6d78","type":"tab","label":"Garage","disabled":false,"info":""},{"id":"7afe1c1c.fc2824","type":"tab","label":"Misc","disabled":false,"info":""},{"id":"ce7797ed.a4f218","type":"tab","label":"System","disabled":false,"info":""},{"id":"b65572f2.46d178","type":"tab","label":"Hue Sensors","disabled":false,"info":""},{"id":"f9bc0030.d8095","type":"subflow","name":"Day? / Night?","info":"","category":"","in":[{"x":60,"y":60,"wires":[{"id":"7ddd8620.c4c8c8"}]}],"out":[{"x":520,"y":40,"wires":[{"id":"6761a43b.0b4d9c","port":0}]},{"x":520,"y":80,"wires":[{"id":"6761a43b.0b4d9c","port":1}]}],"env":[],"color":"#FFCC66","outputLabels":["Day","Night"],"icon":"node-red-contrib-sunevents/white_golden_sun.png","status":{"x":520,"y":140,"wires":[{"id":"96f4fceb.1db68","port":0}]}},{"id":"da409f68.5a74d","type":"subflow","name":"Gather","info":"","category":"","in":[{"x":60,"y":40,"wires":[{"id":"4cd69b0a.ca80d4"}]}],"out":[{"x":280,"y":40,"wires":[{"id":"da409f68.5a74d","port":0}]}],"env":[],"color":"#3FADB5","icon":"node-red/switch.png","status":{"x":280,"y":80,"wires":[{"id":"4cd69b0a.ca80d4","port":0}]}},{"id":"e8e1522.0dab4b","type":"subflow","name":"Set Day Phase Scene","info":"","category":"","in":[{"x":40,"y":120,"wires":[{"id":"9946018f.e9f93"}]}],"out":[{"x":1000,"y":140,"wires":[{"id":"c88334fd.038e98","port":0}]}],"env":[{"name":"group_name","type":"str","value":""}],"color":"#E9967A","icon":"font-awesome/fa-sun-o","status":{"x":780,"y":260,"wires":[{"id":"96a81310.f751a","port":0}]}},{"id":"ca588edf.4580e","type":"subflow","name":"Day Phase?","info":"","category":"","in":[{"x":80,"y":100,"wires":[{"id":"d64ebe40.4f93c"}]}],"out":[{"x":600,"y":40,"wires":[{"id":"2834c62.349d93a","port":0}]},{"x":600,"y":80,"wires":[{"id":"2834c62.349d93a","port":1}]},{"x":600,"y":120,"wires":[{"id":"2834c62.349d93a","port":2}]},{"x":600,"y":160,"wires":[{"id":"2834c62.349d93a","port":3}]}],"env":[],"color":"#FFCC66","outputLabels":["Morning","Day","Evening","Night"],"icon":"node-red-contrib-sunevents/white_golden_sun.png","status":{"x":700,"y":260,"wires":[{"id":"2ffe74e7.704d7c","port":0}]}},{"id":"5f3194a9.d7236c","type":"subflow","name":"Motion Timer","info":"","category":"","in":[{"x":60,"y":60,"wires":[{"id":"a5bdbc06.83d16"}]}],"out":[{"x":900,"y":160,"wires":[{"id":"2acd50b8.fe1e9","port":0}]}],"env":[{"name":"minDelay","type":"num","value":"0"},{"name":"maxDelay","type":"str","value":"0"}],"color":"#3FADB5","outputLabels":["On"],"icon":"node-red/timer.png","status":{"x":840,"y":300,"wires":[{"id":"3bb9b324.c3d4bc","port":0},{"id":"1bf31b72.6dc805","port":0}]}},{"id":"a1f1a83d.d56568","type":"subflow","name":"Date String","info":"","category":"","in":[{"x":60,"y":40,"wires":[{"id":"d5e15736.04ab68"}]}],"out":[{"x":280,"y":40,"wires":[{"id":"d5e15736.04ab68","port":0}]}],"env":[]},{"id":"a1a797e.113a768","type":"subflow","name":"Replay State","info":"","category":"","in":[{"x":80,"y":80,"wires":[{"id":"6ce5da12.ebaba4"}]}],"out":[{"x":360,"y":40,"wires":[{"id":"6ce5da12.ebaba4","port":0}]}],"env":[],"icon":"node-red/batch.png","status":{"x":690,"y":120,"wires":[{"id":"ad513ea.a79aac","port":0}]}},{"id":"8c581faa.50374","type":"subflow","name":"Hue Retry","info":"","category":"","in":[{"x":60,"y":100,"wires":[{"id":"f2ab517a.14b1a"}]}],"out":[{"x":1020,"y":120,"wires":[{"id":"42ec8b.c9401374","port":0},{"id":"80f06794.dcec08","port":0}]}],"env":[{"name":"entity_id","type":"str","value":"","ui":{"icon":"font-awesome/fa-lightbulb-o","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"service","type":"str","value":"","ui":{"icon":"font-awesome/fa-bolt","type":"select","opts":{"opts":[{"l":{"en-US":"turn_on"},"v":"turn_on"},{"l":{"en-US":"turn_off"},"v":"turn_off"},{"l":{"en-US":"hue_activate_scene"},"v":"hue_activate_scene"}]},"label":{}}},{"name":"data","type":"json","value":"{}","ui":{"icon":"font-awesome/fa-cog","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}}],"color":"#FFCC66","icon":"node-red-contrib-huemagic/hue-light.png","status":{"x":540,"y":440,"wires":[{"id":"e3c82402.c79f98","port":0}]}},{"id":"81491f2d.c6cf8","type":"server","z":"","name":"Home Assistant"},{"id":"52baeecb.7c895","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"93032684.db6d98","type":"hue-bridge","z":"","name":"Sensors","bridge":"192.168.0.71","key":"MZ0u7935H7Qlzw2vHJ2ESbVV5uG3ZNbyH97hyGdf","interval":"500"},{"id":"7ddd8620.c4c8c8","type":"api-current-state","z":"f9bc0030.d8095","name":"Day Phase","server":"81491f2d.c6cf8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.day_phase","state_type":"str","state_location":"day_phase.payload","override_payload":"msg","entity_location":"day_phase.data","override_data":"msg","blockInputOverrides":false,"x":190,"y":60,"wires":[["6761a43b.0b4d9c","96f4fceb.1db68"]]},{"id":"6761a43b.0b4d9c","type":"switch","z":"f9bc0030.d8095","name":"Day / Night","property":"day_phase.payload","propertyType":"msg","rules":[{"t":"regex","v":"morning|day","vt":"str","case":true},{"t":"regex","v":"evening|night","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":60,"wires":[[],[]]},{"id":"c248097f.e54e48","type":"api-current-state","z":"4eea289e.b77d38","name":"Sun Below Horizon?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"above_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":680,"wires":[[],["819f6a59.e21888"]]},{"id":"9d7961cd.82349","type":"api-current-state","z":"4eea289e.b77d38","name":"Living Room?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.living_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":180,"y":760,"wires":[[],["c62d23e0.a2bad"]]},{"id":"f82465b8.e60af8","type":"api-current-state","z":"4eea289e.b77d38","name":"Hallways?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.hallways","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":170,"y":820,"wires":[[],["474c1331.a345ec"]]},{"id":"5dde6542.5da31c","type":"api-current-state","z":"4eea289e.b77d38","name":"Kitchen?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.kitchen","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":160,"y":880,"wires":[[],["785dc176.38871"]]},{"id":"3990aa11.7019d6","type":"api-call-service","z":"4eea289e.b77d38","name":"Living Room Off","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.living_room","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":740,"y":760,"wires":[[]]},{"id":"ba6f5623.ce14c8","type":"comment","z":"4f666315.2afffc","name":"Downstairs Toilet Light","info":"","x":140,"y":440,"wires":[]},{"id":"49608464.369ebc","type":"server-state-changed","z":"7afe1c1c.fc2824","name":"Hair Straigtheners?","server":"81491f2d.c6cf8","version":1,"entityidfilter":"switch.hair_straighteners","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":130,"y":80,"wires":[["784c3e2e.96c62"],[]]},{"id":"784c3e2e.96c62","type":"stoptimer","z":"7afe1c1c.fc2824","duration":"30","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":340,"y":80,"wires":[["180aa258.bfe74e"],[]]},{"id":"180aa258.bfe74e","type":"api-call-service","z":"7afe1c1c.fc2824","name":"Turn Off","server":"81491f2d.c6cf8","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.hair_straighteners","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":520,"y":80,"wires":[[]]},{"id":"85904b1c.fb2328","type":"comment","z":"7afe1c1c.fc2824","name":"Hair Straighteners","info":"","x":130,"y":40,"wires":[]},{"id":"d87201e6.801af","type":"api-call-service","z":"4f666315.2afffc","name":"Toilet Off","server":"81491f2d.c6cf8","version":1,"service_domain":"light","service":"turn_off","entityId":"light.toilet","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":460,"y":560,"wires":[[]]},{"id":"5824fe27.8c96","type":"comment","z":"3bd8c115.3e42ae","name":"Kitchen Lights","info":"","x":110,"y":40,"wires":[]},{"id":"c15c42eb.b3e5a","type":"comment","z":"4eea289e.b77d38","name":"Backdoor Presence Simulation","info":"","x":170,"y":640,"wires":[]},{"id":"94dab676.4ad188","type":"server-state-changed","z":"4eea289e.b77d38","name":"Front Door Motion","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ring_front_door_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":80,"wires":[["a9d06255.e3748"]]},{"id":"3b04cf72.00a2d","type":"stoptimer","z":"4eea289e.b77d38","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":620,"y":180,"wires":[["952c9b22.6293c8"],[]]},{"id":"952c9b22.6293c8","type":"api-call-service","z":"4eea289e.b77d38","name":"Porch Off","server":"81491f2d.c6cf8","version":"1","service_domain":"light","service":"turn_off","entityId":"light.porch","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":800,"y":180,"wires":[[]]},{"id":"f78c0048.bbc4d","type":"api-call-service","z":"4eea289e.b77d38","name":"Porch On","server":"81491f2d.c6cf8","version":1,"service_domain":"light","service":"turn_on","entityId":"light.porch","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":800,"y":100,"wires":[[]]},{"id":"788ca90.c97de58","type":"api-current-state","z":"4eea289e.b77d38","name":"Sun?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"above_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":100,"wires":[[],["f78c0048.bbc4d"]]},{"id":"14e9f40b.b9869c","type":"comment","z":"4eea289e.b77d38","name":"Porch Light","info":"","x":110,"y":40,"wires":[]},{"id":"a9d06255.e3748","type":"subflow:da409f68.5a74d","z":"4eea289e.b77d38","name":"","env":[],"x":415,"y":140,"wires":[["3b04cf72.00a2d","788ca90.c97de58"]],"l":false},{"id":"39e5d222.c3ff0e","type":"api-current-state","z":"3bd8c115.3e42ae","name":"Lights?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.kitchen","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":420,"y":140,"wires":[[],["c9d0fa4e.885338"]]},{"id":"2c901060.95f96","type":"server-state-changed","z":"4eea289e.b77d38","name":"Dan's Phone","server":"81491f2d.c6cf8","version":1,"entityidfilter":"device_tracker.dphone","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":110,"y":200,"wires":[["db588c.ebbc3778"]]},{"id":"a81a4472.d5e048","type":"server-state-changed","z":"4eea289e.b77d38","name":"Lauren's Phone","server":"81491f2d.c6cf8","version":1,"entityidfilter":"device_tracker.laurens_iphone","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":120,"y":260,"wires":[["db588c.ebbc3778"]]},{"id":"db588c.ebbc3778","type":"switch","z":"4eea289e.b77d38","name":"Home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":240,"wires":[["a9d06255.e3748"]]},{"id":"84dc56fe.709d28","type":"server-state-changed","z":"3bd8c115.3e42ae","name":"Day Phase Changed","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.day_phase","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":170,"y":80,"wires":[["e513fb69.acddf8"]]},{"id":"134600fd.fb42c7","type":"server-state-changed","z":"4eea289e.b77d38","name":"Back Door Motion","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ring_back_door_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is_not","outputs":1,"output_only_on_state_change":true,"x":130,"y":680,"wires":[["c248097f.e54e48"]]},{"id":"85737416.e69e78","type":"inject","z":"ce7797ed.a4f218","name":"Start","repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"false","payloadType":"bool","x":170,"y":100,"wires":[["80887c43.33dc6"]]},{"id":"82c11d0.0eec2e","type":"comment","z":"ce7797ed.a4f218","name":"Restart Notification","info":"","x":130,"y":60,"wires":[]},{"id":"e06b2a6.1a502d8","type":"api-call-service","z":"ce7797ed.a4f218","name":"Notify Dan","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_dphone","entityId":"","data":"{ \"message\": \"Node-RED coming online!\" }","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":530,"y":100,"wires":[[]]},{"id":"455c1235.9adf3c","type":"comment","z":"ce7797ed.a4f218","name":"Reboot Home Assistant","info":"","x":140,"y":160,"wires":[]},{"id":"e445e789.1c29e8","type":"api-call-service","z":"4f666315.2afffc","name":"Lights Off","server":"81491f2d.c6cf8","version":"1","service_domain":"light","service":"turn_off","entityId":"light.hallways","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":600,"y":240,"wires":[[]]},{"id":"b06b1d9f.443e4","type":"comment","z":"4f666315.2afffc","name":"Hallway Lights","info":"","x":120,"y":40,"wires":[]},{"id":"ae9606df.f42f48","type":"api-current-state","z":"4f666315.2afffc","name":"Lights?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.hallways","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":420,"y":160,"wires":[[],["eb2c2188.be9e9"]]},{"id":"41c14e5c.35e53","type":"server-state-changed","z":"4f666315.2afffc","name":"Day Phase Changed","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.day_phase","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":230,"y":80,"wires":[["f3f749f5.e27648"]]},{"id":"e513fb69.acddf8","type":"api-current-state","z":"3bd8c115.3e42ae","name":"Lights?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.kitchen","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":420,"y":80,"wires":[["c9d0fa4e.885338"],[]]},{"id":"f3f749f5.e27648","type":"api-current-state","z":"4f666315.2afffc","name":"Lights?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.hallways","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":420,"y":80,"wires":[["eb2c2188.be9e9"],[]]},{"id":"21d34294.d5f9de","type":"server-state-changed","z":"7afe1c1c.fc2824","name":"Occupied","server":"81491f2d.c6cf8","version":1,"entityidfilter":"binary_sensor.occupied","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":100,"y":300,"wires":[["a0b9cacb.4b35a8"],["1adbe8fb.80c517","9087377b.c85888"]]},{"id":"1adbe8fb.80c517","type":"stoptimer","z":"7afe1c1c.fc2824","duration":"18","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":320,"y":320,"wires":[["771053dc.0b281c"],[]]},{"id":"604a446d.ea9b6c","type":"api-call-service","z":"7afe1c1c.fc2824","name":"Away Mode - On","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.away_mode","data":"{}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":690,"y":320,"wires":[["69546f56.f91fb"]]},{"id":"a0b9cacb.4b35a8","type":"api-call-service","z":"7afe1c1c.fc2824","name":"Away Mode - Off","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.away_mode","data":"{}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":260,"wires":[["656189fd.c5ba98"]]},{"id":"33f03597.e6970a","type":"comment","z":"7afe1c1c.fc2824","name":"Away Mode","info":"","x":110,"y":200,"wires":[]},{"id":"5cf8867c.5c2388","type":"inject","z":"7afe1c1c.fc2824","name":"Run at startup","repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":340,"y":140,"wires":[["180aa258.bfe74e"]]},{"id":"fcec50b5.8a6ad","type":"api-call-service","z":"4ca21be4.5fec94","name":"Lights Off","server":"81491f2d.c6cf8","version":"1","service_domain":"light","service":"turn_off","entityId":"light.top_floor_landing","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":500,"y":560,"wires":[[]]},{"id":"a807f77a.dba4a8","type":"comment","z":"4ca21be4.5fec94","name":"Top Floor Landing Lights","info":"","x":150,"y":360,"wires":[]},{"id":"b6355d4.19099a","type":"api-current-state","z":"4ca21be4.5fec94","name":"Lights?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.top_floor_landing","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":480,"wires":[[],["93244dc5.301bc"]]},{"id":"ed52405c.05a6d","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Day Phase Changed","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.day_phase","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":400,"wires":[["213cc683.78a59a"]]},{"id":"213cc683.78a59a","type":"api-current-state","z":"4ca21be4.5fec94","name":"Lights?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.top_floor_landing","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":400,"wires":[["93244dc5.301bc"],[]]},{"id":"93244dc5.301bc","type":"api-current-state","z":"4ca21be4.5fec94","name":"Sleep Mode Off?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_mode","state_type":"str","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":440,"wires":[["d854ec53.d085d"],["cadf3541.05a3c8"]]},{"id":"a2ab0132.a7928","type":"comment","z":"4ca21be4.5fec94","name":"Dressing Room Lights","info":"","x":140,"y":640,"wires":[]},{"id":"41eaee8f.91c56","type":"api-current-state","z":"4ca21be4.5fec94","name":"Lights?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.dressing_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":820,"wires":[[],["8df2ec6e.91e5b"]]},{"id":"3369f549.bf22ca","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Day Phase Changed","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.day_phase","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":780,"wires":[["89bbce81.c1318"]]},{"id":"89bbce81.c1318","type":"api-current-state","z":"4ca21be4.5fec94","name":"Lights?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.dressing_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":740,"wires":[["8df2ec6e.91e5b"],[]]},{"id":"8df2ec6e.91e5b","type":"api-current-state","z":"4ca21be4.5fec94","name":"Sleep Mode?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_mode","state_type":"str","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":780,"wires":[["aa9051e0.debb2"],["c35ab478.d2f3c8"]]},{"id":"ec9ff3cf.7eee","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Dressing Room Lights","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.dressing_room","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":360,"y":680,"wires":[["8df2ec6e.91e5b"],[]]},{"id":"5d92cc89.b354b4","type":"api-call-service","z":"4ca21be4.5fec94","name":"Lights Off","server":"81491f2d.c6cf8","version":1,"service_domain":"light","service":"turn_off","entityId":"light.bathroom","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":520,"y":1240,"wires":[[]]},{"id":"eb2f6f16.8510e","type":"comment","z":"4ca21be4.5fec94","name":"Bathroom Lights","info":"","x":120,"y":980,"wires":[]},{"id":"c48cdc4d.6d59a","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Day Phase Changed","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.day_phase","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":1080,"wires":[["7c0893d7.73246c"]]},{"id":"7c0893d7.73246c","type":"api-current-state","z":"4ca21be4.5fec94","name":"Lights?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.bathroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":1080,"wires":[["1a796d38.8e3c83"],[]]},{"id":"66e73bbb.803434","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Bedroom Lights","server":"81491f2d.c6cf8","version":1,"entityidfilter":"light.bedroom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":300,"y":1400,"wires":[["ef08c2a1.96db7"],[]]},{"id":"5c079002.14ace","type":"comment","z":"4ca21be4.5fec94","name":"Bedroom Lights","info":"","x":120,"y":1360,"wires":[]},{"id":"f37e0d3e.a9c39","type":"api-current-state","z":"4eea289e.b77d38","name":"Away?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.away_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":880,"wires":[[],["d9a3288c.568bd8"]]},{"id":"f2654858.3abdd8","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Ensuite Lights","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.ensuite","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":310,"y":1680,"wires":[["29577965.782536"],[]]},{"id":"fffe9a4f.648eb8","type":"comment","z":"4ca21be4.5fec94","name":"Ensuite Lights","info":"","x":110,"y":1640,"wires":[]},{"id":"a5d6ad3d.ac5e7","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Bathroom Lights","server":"81491f2d.c6cf8","version":1,"entityidfilter":"light.bathroom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":300,"y":1020,"wires":[["1a796d38.8e3c83"],[]]},{"id":"c0728bf3.a299d8","type":"api-current-state","z":"7afe1c1c.fc2824","name":"Away Mode?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.away_mode","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":310,"y":620,"wires":[["672282a3.2cfdfc"],[]]},{"id":"2ed809fa.2f2af6","type":"api-current-state","z":"7afe1c1c.fc2824","name":"Sun?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"above_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":620,"wires":[[],["77c68764.6e5798"]]},{"id":"672282a3.2cfdfc","type":"switch","z":"7afe1c1c.fc2824","name":"On / Off","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":620,"wires":[["2ed809fa.2f2af6"],["b23ec25d.6c35c"]]},{"id":"b23ec25d.6c35c","type":"api-call-service","z":"7afe1c1c.fc2824","name":"Turn Off","server":"81491f2d.c6cf8","version":1,"service_domain":"light","service":"turn_off","entityId":"","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":640,"y":680,"wires":[[]]},{"id":"43d9a765.8b9648","type":"server-state-changed","z":"7afe1c1c.fc2824","name":"Replay Sensors","server":"81491f2d.c6cf8","version":"1","entityidfilter":"sensor.replay_","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":120,"y":520,"wires":[["6b770e1.60b27f"]]},{"id":"ba6ad983.a18ea8","type":"comment","z":"7afe1c1c.fc2824","name":"Presence Simulation","info":"","x":130,"y":480,"wires":[]},{"id":"17ccb9a3.def056","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Day Phase Changed","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.day_phase","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":1520,"wires":[["6a1fcd92.c32504"]]},{"id":"8315b729.edd3d8","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Day Phase Changed","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.day_phase","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":1760,"wires":[["cb684007.ad7ca"]]},{"id":"cb684007.ad7ca","type":"api-current-state","z":"4ca21be4.5fec94","name":"Lights?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.ensuite","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":1760,"wires":[["29577965.782536"],[]]},{"id":"1dd733cd.03b3ec","type":"comment","z":"ef1c2144.74e1","name":"Guest Ensuite Lights","info":"","x":130,"y":60,"wires":[]},{"id":"e27c4c5f.872bb","type":"api-current-state","z":"7afe1c1c.fc2824","name":"Away Mode On?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.away_mode","state_type":"str","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":760,"wires":[[],["653e6b2f.931eb4"]]},{"id":"990e1cac.d6a09","type":"server-state-changed","z":"7afe1c1c.fc2824","name":"Sun Above Horizon","server":"81491f2d.c6cf8","version":"1","entityidfilter":"sensor.replay_","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"below_horizon","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":130,"y":760,"wires":[[],["e27c4c5f.872bb"]]},{"id":"653e6b2f.931eb4","type":"api-call-service","z":"7afe1c1c.fc2824","name":"Turn Off All Lights","server":"81491f2d.c6cf8","version":1,"service_domain":"homeassistant","service":"turn_off","entityId":"group.all_lights","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":760,"wires":[[]]},{"id":"f45a93b.1d9fd7","type":"api-call-service","z":"7afe1c1c.fc2824","name":"Everything Off","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.everything_off","data":"{}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":380,"wires":[["6ea35e23.6509d"]]},{"id":"771053dc.0b281c","type":"api-current-state","z":"7afe1c1c.fc2824","name":"Home?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.occupied","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":500,"y":320,"wires":[[],["604a446d.ea9b6c"]]},{"id":"b0d629be.1e99b8","type":"server-state-changed","z":"ef1c2144.74e1","name":"Day Phase Changed","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.day_phase","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":400,"wires":[["e82f543b.292b58"]]},{"id":"e82f543b.292b58","type":"api-current-state","z":"ef1c2144.74e1","name":"Lights?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.guest_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":400,"wires":[["9b91c3b6.a97aa"],[]]},{"id":"91e1d7bc.586ce8","type":"comment","z":"ef1c2144.74e1","name":"Guest Room Lights","info":"","x":130,"y":280,"wires":[]},{"id":"20494f76.baa0b","type":"server-state-changed","z":"ef1c2144.74e1","name":"Day Phase Changed","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.day_phase","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":180,"wires":[["6282df61.8b69b"]]},{"id":"6282df61.8b69b","type":"api-current-state","z":"ef1c2144.74e1","name":"Lights?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.guest_ensuite","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":180,"wires":[["2ecf9e2f.57b1e2"],[]]},{"id":"657b6d10.860484","type":"api-current-state","z":"7afe1c1c.fc2824","name":"Home?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.occupied","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":500,"y":380,"wires":[[],["f45a93b.1d9fd7"]]},{"id":"9087377b.c85888","type":"stoptimer","z":"7afe1c1c.fc2824","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":320,"y":380,"wires":[["657b6d10.860484"],[]]},{"id":"7137d828.90fa68","type":"server-state-changed","z":"ef1c2144.74e1","name":"Guest Ensuite Lights On","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.guest_ensuite","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":270,"y":100,"wires":[["2ecf9e2f.57b1e2"],[]]},{"id":"602c76c1.9e91d8","type":"function","z":"e8e1522.0dab4b","name":"Hue Scene","func":"const dayPhase = msg.payload\n\nconst groupName = msg.group_name || env.get(\"group_name\");\n\nmsg.payload = {\n    data: {\n        scene_name: dayPhase,\n        group_name: groupName\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["947814f9.5a76d8","668aed9d.d0e034"]]},{"id":"15d91635.07a43a","type":"api-current-state","z":"e8e1522.0dab4b","name":"Day Phase","server":"81491f2d.c6cf8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.day_phase","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":270,"y":200,"wires":[["602c76c1.9e91d8"]]},{"id":"ee1c366c.9f8af8","type":"api-current-state","z":"4eea289e.b77d38","name":"Garden Light?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.garden","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":420,"y":440,"wires":[[],["b35417ce.3ce6c8"]]},{"id":"b35417ce.3ce6c8","type":"api-current-state","z":"4eea289e.b77d38","name":"Sun?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"above_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":400,"wires":[[],["4552cadf.e36044"]]},{"id":"f8563748.895cb8","type":"server-state-changed","z":"4eea289e.b77d38","name":"Day Phase Changed","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.day_phase","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":380,"wires":[["a31aa3b.405066"]]},{"id":"a31aa3b.405066","type":"api-current-state","z":"4eea289e.b77d38","name":"Garden?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.garden","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":400,"y":380,"wires":[["b35417ce.3ce6c8"],[]]},{"id":"3f08199b.a0f396","type":"api-call-service","z":"4eea289e.b77d38","name":"Garden Off","server":"81491f2d.c6cf8","version":"1","service_domain":"light","service":"turn_off","entityId":"light.garden","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":590,"y":520,"wires":[[]]},{"id":"6037be0.e539944","type":"server-state-changed","z":"4eea289e.b77d38","name":"Sun Rise","server":"81491f2d.c6cf8","version":"1","entityidfilter":"sun.sun","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"above_horizon","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":420,"y":580,"wires":[[],["3f08199b.a0f396"]]},{"id":"e41bee4d.1e62f","type":"comment","z":"4eea289e.b77d38","name":"Garden Lights","info":"","x":110,"y":340,"wires":[]},{"id":"5bd1ed8b.e64bf4","type":"api-current-state","z":"ce61c348.0d296","name":"Lights?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.living_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":420,"y":300,"wires":[[],["5d9994cd.f0620c"]]},{"id":"fdc07dc0.2f363","type":"subflow:e8e1522.0dab4b","z":"ce61c348.0d296","name":"","env":[{"name":"group_name","value":"Living Room","type":"str"}],"x":740,"y":200,"wires":[["b5916f14.4a1ca","354fec7d.3221b4"]]},{"id":"8fa01d99.8bd43","type":"server-state-changed","z":"ce61c348.0d296","name":"Day Phase Changed","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.day_phase","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":220,"wires":[["de63f8ef.3f2d38"]]},{"id":"408f1cef.d809e4","type":"api-call-service","z":"ce61c348.0d296","name":"Fairy Lights On","server":"81491f2d.c6cf8","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.living_room_fairy_lights","data":"{}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":120,"wires":[[]]},{"id":"32bd5b4.d23aaa4","type":"api-call-service","z":"ce61c348.0d296","name":"Fairy Lights Off","server":"81491f2d.c6cf8","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.living_room_fairy_lights","data":"{}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":60,"wires":[[]]},{"id":"feba66fa.37f0a8","type":"api-call-service","z":"ce61c348.0d296","name":"Fairy Lights Off","server":"81491f2d.c6cf8","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.living_room_fairy_lights","data":"{}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":480,"wires":[[]]},{"id":"5d9994cd.f0620c","type":"subflow:da409f68.5a74d","z":"ce61c348.0d296","name":"","env":[],"x":555,"y":200,"wires":[["fdc07dc0.2f363","982601a4.0cfe8"]],"l":false},{"id":"3d51cc31.4e2ec4","type":"server-state-changed","z":"ce61c348.0d296","name":"Cinema Mode","server":"81491f2d.c6cf8","version":1,"entityidfilter":"input_boolean.cinema_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":600,"wires":[["48c77a9e.32a1d4","43d0d552.34ba2c","539380b2.c6b0f","44a32ca2.2add34"],["fd41581a.c9ecc8","fd024779.05cdd8"]]},{"id":"fd41581a.c9ecc8","type":"link out","z":"ce61c348.0d296","name":"Reset Lights","links":["f0fc1d58.273d9","c153e9a5.0b2bc8"],"x":195,"y":680,"wires":[]},{"id":"de63f8ef.3f2d38","type":"api-current-state","z":"ce61c348.0d296","name":"Cinema Mode?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.cinema_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":160,"wires":[[],["eabfeac0.e41c08"]]},{"id":"bad6120d.880d","type":"comment","z":"ce61c348.0d296","name":"Cinema Mode","info":"","x":110,"y":560,"wires":[]},{"id":"33c07e35.9bb302","type":"comment","z":"ce61c348.0d296","name":"Living Room Lights","info":"","x":130,"y":40,"wires":[]},{"id":"c35ab478.d2f3c8","type":"subflow:e8e1522.0dab4b","z":"4ca21be4.5fec94","name":"","env":[{"name":"group_name","type":"str","value":"Dressing Room"}],"x":740,"y":820,"wires":[[]]},{"id":"ea8a5464.c5aae8","type":"server-state-changed","z":"4eea289e.b77d38","name":"Back Door Motion","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ring_back_door_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is_not","outputs":1,"output_only_on_state_change":true,"x":130,"y":560,"wires":[["af51ab8b.529f38"]]},{"id":"474c1331.a345ec","type":"stoptimer","z":"4eea289e.b77d38","duration":"5","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":360,"y":820,"wires":[["d31be7fa.140638"],[]]},{"id":"819f6a59.e21888","type":"link out","z":"4eea289e.b77d38","name":"","links":["8e8c9f22.8befd","4d71976d.fda548","936ac956.f40f18","1aaba12f.18841f"],"x":515,"y":680,"wires":[]},{"id":"8e8c9f22.8befd","type":"link in","z":"4eea289e.b77d38","name":"","links":["819f6a59.e21888"],"x":55,"y":760,"wires":[["9d7961cd.82349"]]},{"id":"4d71976d.fda548","type":"link in","z":"4eea289e.b77d38","name":"","links":["819f6a59.e21888"],"x":55,"y":820,"wires":[["f82465b8.e60af8"]]},{"id":"936ac956.f40f18","type":"link in","z":"4eea289e.b77d38","name":"","links":["819f6a59.e21888"],"x":55,"y":880,"wires":[["5dde6542.5da31c"]]},{"id":"785dc176.38871","type":"stoptimer","z":"4eea289e.b77d38","duration":"15","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":350,"y":880,"wires":[["f37e0d3e.a9c39"],[]]},{"id":"443e3979.456c58","type":"stoptimer","z":"4eea289e.b77d38","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":860,"y":880,"wires":[["79178c01.a11d04"],[]]},{"id":"135aacff.bf6673","type":"stoptimer","z":"4eea289e.b77d38","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":720,"y":820,"wires":[["289e0c9b.ef35b4"],[]]},{"id":"78d012a8.05a2ac","type":"stoptimer","z":"4eea289e.b77d38","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":540,"y":760,"wires":[["3990aa11.7019d6"],[]]},{"id":"823cd678.578818","type":"comment","z":"ce61c348.0d296","name":"TV","info":"","x":90,"y":880,"wires":[]},{"id":"139e7cce.b23773","type":"api-call-service","z":"ce61c348.0d296","name":"Set Volume To 10","server":"81491f2d.c6cf8","version":1,"service_domain":"media_player","service":"volume_set","entityId":"media_player.living_room_speakers","data":"{\"volume_level\":\"0.2\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":1060,"wires":[[]]},{"id":"eabfeac0.e41c08","type":"api-current-state","z":"ce61c348.0d296","name":"Lights?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.living_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":420,"y":240,"wires":[["5d9994cd.f0620c"],[]]},{"id":"b3f81398.1036e","type":"api-call-service","z":"ce61c348.0d296","name":"Cinema Mode Off","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.cinema_mode","data":"{}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":360,"wires":[[]]},{"id":"c153e9a5.0b2bc8","type":"link in","z":"ce61c348.0d296","name":"Reset Lights","links":["fd41581a.c9ecc8"],"x":275,"y":240,"wires":[["eabfeac0.e41c08"]]},{"id":"982601a4.0cfe8","type":"subflow:f9bc0030.d8095","z":"ce61c348.0d296","name":"","x":720,"y":100,"wires":[["32bd5b4.d23aaa4"],["23eda5a1.d1f8d2"]]},{"id":"e04e6ade.157078","type":"subflow:e8e1522.0dab4b","z":"4ca21be4.5fec94","name":"","env":[{"name":"group_name","type":"str","value":"Bedroom"}],"x":720,"y":1500,"wires":[[]]},{"id":"ad0dbd05.a5e14","type":"api-call-service","z":"e8e1522.0dab4b","name":"Set Scene","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"hue","service":"hue_activate_scene","entityId":"","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":930,"y":260,"wires":[[]]},{"id":"96a81310.f751a","type":"function","z":"e8e1522.0dab4b","name":"Status Text","func":"const { group_name, scene_name } = msg.payload.data;\n\n\nmsg.payload.text = `${group_name} set to ${scene_name} at: ${msg.dateString}`;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":260,"wires":[[]]},{"id":"96f4fceb.1db68","type":"function","z":"f9bc0030.d8095","name":"Status Text","func":"const dayPhase = msg.day_phase.payload\n\nconst months = [\n    \"Jan\",\n    \"Feb\",\n    \"Mar\",\n    \"Apr\",\n    \"May\",\n    \"Jun\",\n    \"Jul\",\n    \"Aug\",\n    \"Sep\",\n    \"Oct\",\n    \"Nov\",\n    \"Dec\"\n];\n\nconst d = new Date();\nconst dateString = `${months[d.getUTCMonth()]} ${d.getDay()}, ${d.getHours()}:${d.getMinutes()}`;\n\n\nmsg.payload = {\n    fill: dayPhase === \"Morning\" || dayPhase === \"Day\" ? \"green\" : \"red\",\n    shape:\"dot\", \n    text: `${dayPhase} at: ${dateString}` \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[[]]},{"id":"c9d0fa4e.885338","type":"subflow:e8e1522.0dab4b","z":"3bd8c115.3e42ae","name":"","env":[{"name":"group_name","type":"str","value":"Kitchen"}],"x":640,"y":120,"wires":[[]]},{"id":"eb2c2188.be9e9","type":"subflow:e8e1522.0dab4b","z":"4f666315.2afffc","name":"","env":[{"name":"group_name","type":"str","value":"Hallways"}],"x":640,"y":120,"wires":[[]]},{"id":"6a1fcd92.c32504","type":"api-current-state","z":"4ca21be4.5fec94","name":"Lights?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.bedroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":1500,"wires":[["ef08c2a1.96db7"],[]]},{"id":"cadf3541.05a3c8","type":"subflow:e8e1522.0dab4b","z":"4ca21be4.5fec94","name":"","env":[{"name":"group_name","value":"Top Floor Landing","type":"str"}],"x":740,"y":480,"wires":[[]]},{"id":"d64ebe40.4f93c","type":"api-current-state","z":"ca588edf.4580e","name":"Day Phase","server":"81491f2d.c6cf8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.day_phase","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":210,"y":100,"wires":[["2834c62.349d93a","4a38ea39.f54514"]]},{"id":"2834c62.349d93a","type":"switch","z":"ca588edf.4580e","name":"Day / Night","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Morning","vt":"str"},{"t":"eq","v":"Day","vt":"str"},{"t":"eq","v":"Evening","vt":"str"},{"t":"eq","v":"Night","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":410,"y":100,"wires":[[],[],[],[]]},{"id":"14781c37.2a5ed4","type":"subflow:e8e1522.0dab4b","z":"4f666315.2afffc","name":"","env":[{"name":"group_name","type":"str","value":"Toilet"}],"x":460,"y":480,"wires":[[]]},{"id":"64186c9a.82e5d4","type":"api-call-service","z":"4ca21be4.5fec94","name":"Lights Off","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.den","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":700,"y":2160,"wires":[[]]},{"id":"2615e935.da0766","type":"comment","z":"4ca21be4.5fec94","name":"Den Lights","info":"","x":100,"y":1900,"wires":[]},{"id":"31d880e8.787","type":"api-current-state","z":"4ca21be4.5fec94","name":"Lights?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.den","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":2080,"wires":[[],["4e8bf034.07bee"]]},{"id":"db3d1eb6.bcd48","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Day Phase Changed","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.day_phase","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":2000,"wires":[["8c1de05b.ccee5"]]},{"id":"8c1de05b.ccee5","type":"api-current-state","z":"4ca21be4.5fec94","name":"Lights?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.den","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":2000,"wires":[["4e8bf034.07bee"],[]]},{"id":"4e8bf034.07bee","type":"api-current-state","z":"4ca21be4.5fec94","name":"Sleep Mode?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_mode","state_type":"str","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":2040,"wires":[["7001fd7.4f3a904"],["fb1d4f.5482e2b"]]},{"id":"f3e8e063.0939c","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Den Lights","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.den","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":320,"y":1940,"wires":[["4e8bf034.07bee"],[]]},{"id":"fb1d4f.5482e2b","type":"subflow:e8e1522.0dab4b","z":"4ca21be4.5fec94","name":"","env":[{"name":"group_name","value":"Den","type":"str"}],"x":740,"y":2080,"wires":[[]]},{"id":"29577965.782536","type":"subflow:e8e1522.0dab4b","z":"4ca21be4.5fec94","name":"","env":[{"name":"group_name","type":"str","value":"Ensuite"}],"x":520,"y":1720,"wires":[[]]},{"id":"6f1c8d64.b35974","type":"subflow:da409f68.5a74d","z":"4f666315.2afffc","name":"","env":[],"x":315,"y":200,"wires":[["ae9606df.f42f48","1636b491.8daffb"]],"l":false},{"id":"289e0c9b.ef35b4","type":"api-call-service","z":"4eea289e.b77d38","name":"Hallways Off","server":"81491f2d.c6cf8","version":1,"service_domain":"light","service":"turn_off","entityId":"light.hallways","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":910,"y":820,"wires":[[]]},{"id":"79178c01.a11d04","type":"api-call-service","z":"4eea289e.b77d38","name":"Kitchen Off","server":"81491f2d.c6cf8","version":"1","service_domain":"light","service":"turn_off","entityId":"light.kitchen","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1050,"y":880,"wires":[[]]},{"id":"4552cadf.e36044","type":"subflow:e8e1522.0dab4b","z":"4eea289e.b77d38","name":"","env":[{"name":"group_name","type":"str","value":"Garden"}],"x":780,"y":400,"wires":[[]]},{"id":"8a176f9e.247a6","type":"comment","z":"4ca21be4.5fec94","name":"Sleep Mode","info":"","x":110,"y":60,"wires":[]},{"id":"e7d59efa.7d4b","type":"subflow:f9bc0030.d8095","z":"4ca21be4.5fec94","name":"","x":460,"y":120,"wires":[["4f311970.da6fa8"],[]]},{"id":"4f311970.da6fa8","type":"api-call-service","z":"4ca21be4.5fec94","name":"Turn Off Sleep Mode","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.sleep_mode","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":700,"y":140,"wires":[[]]},{"id":"9697a4ec.727838","type":"inject","z":"4ca21be4.5fec94","name":"Start","repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"true","payloadType":"bool","x":290,"y":180,"wires":[["e7d59efa.7d4b"]]},{"id":"48c77a9e.32a1d4","type":"api-call-service","z":"ce61c348.0d296","name":"Fairy Lights Off","server":"81491f2d.c6cf8","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.living_room_fairy_lights","data":"{}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":660,"wires":[[]]},{"id":"43d0d552.34ba2c","type":"api-call-service","z":"ce61c348.0d296","name":"Dim Hallway","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.hallways","data":"{\"brightness_pct\":10}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":720,"wires":[[]]},{"id":"539380b2.c6b0f","type":"api-call-service","z":"ce61c348.0d296","name":"Movie Soundfield","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"media_player","service":"select_sound_mode","entityId":"media_player.living_room_speakers","data":"{ \"sound_mode\": \"Movie\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":780,"wires":[[]]},{"id":"fd024779.05cdd8","type":"subflow:e8e1522.0dab4b","z":"ce61c348.0d296","name":"Reset Hallways","env":[{"name":"group_name","type":"str","value":"Hallways"}],"x":180,"y":720,"wires":[[]]},{"id":"1a796d38.8e3c83","type":"subflow:e8e1522.0dab4b","z":"4ca21be4.5fec94","name":"","env":[{"name":"group_name","type":"str","value":"Bathroom"}],"x":560,"y":1120,"wires":[[]]},{"id":"7ad616e6.7f13f8","type":"api-call-service","z":"4ca21be4.5fec94","name":"Set Scene \"Bed Time\"","server":"81491f2d.c6cf8","version":"1","service_domain":"hue","service":"hue_activate_scene","entityId":"","data":"{ \"group_name\": \"Bedroom\", \"scene_name\": \"Bed Time\" }","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":720,"y":1420,"wires":[[]]},{"id":"3eeec1f3.36975e","type":"api-current-state","z":"4ca21be4.5fec94","name":"Lights?","server":"81491f2d.c6cf8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.bathroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":1160,"wires":[[],["1a796d38.8e3c83"]]},{"id":"2ecf9e2f.57b1e2","type":"subflow:e8e1522.0dab4b","z":"ef1c2144.74e1","name":"","env":[{"name":"group_name","type":"str","value":"Guest Ensuite"}],"x":520,"y":140,"wires":[[]]},{"id":"9b91c3b6.a97aa","type":"subflow:e8e1522.0dab4b","z":"ef1c2144.74e1","name":"","env":[{"name":"group_name","type":"str","value":"Guest Room"}],"x":520,"y":360,"wires":[[]]},{"id":"c62d23e0.a2bad","type":"api-call-service","z":"4eea289e.b77d38","name":"Turn On","server":"81491f2d.c6cf8","version":1,"service_domain":"hue","service":"hue_activate_scene","entityId":"","data":"{\"group_name\":\"Living Room\",\"scene_name\":\"Morning\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":360,"y":760,"wires":[["78d012a8.05a2ac"]]},{"id":"d5e15736.04ab68","type":"function","z":"a1f1a83d.d56568","name":"","func":"const months = [\n    \"Jan\",\n    \"Feb\",\n    \"Mar\",\n    \"Apr\",\n    \"May\",\n    \"Jun\",\n    \"Jul\",\n    \"Aug\",\n    \"Sep\",\n    \"Oct\",\n    \"Nov\",\n    \"Dec\"\n];\n\nconst d = new Date();\nconst month = months[d.getUTCMonth()];\nconst day = d.getDay();\nconst hour = d.getHours() < 10 ? `0${d.getHours()}` : d.getHours();\nconst min = d.getMinutes() < 10 ? `0${d.getMinutes()}` : d.getMinutes();\n\nmsg.dateString = `${month} ${day}, ${hour}:${min}`;\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":40,"wires":[[]]},{"id":"e9071674.6d4978","type":"subflow:5f3194a9.d7236c","z":"3bd8c115.3e42ae","name":"","env":[{"name":"minDelay","value":"3","type":"num"},{"name":"maxDelay","value":"15","type":"num"}],"x":430,"y":220,"wires":[["e3c90b90.5df348"]]},{"id":"d31be7fa.140638","type":"api-call-service","z":"4eea289e.b77d38","name":"Turn On","server":"81491f2d.c6cf8","version":1,"service_domain":"hue","service":"hue_activate_scene","entityId":"","data":"{\"group_name\":\"Hallways\",\"scene_name\":\"Morning\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":540,"y":820,"wires":[["135aacff.bf6673"]]},{"id":"d9a3288c.568bd8","type":"api-call-service","z":"4eea289e.b77d38","name":"Turn On","server":"81491f2d.c6cf8","version":1,"service_domain":"hue","service":"hue_activate_scene","entityId":"","data":"{\"group_name\":\"Kitchen\",\"scene_name\":\"Morning\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":680,"y":880,"wires":[["443e3979.456c58"]]},{"id":"16366b3.250ee95","type":"subflow:da409f68.5a74d","z":"3bd8c115.3e42ae","name":"","env":[],"x":295,"y":180,"wires":[["39e5d222.c3ff0e","e9071674.6d4978"]],"l":false},{"id":"45dd5909.49bb48","type":"subflow:5f3194a9.d7236c","z":"4f666315.2afffc","name":"","env":[{"name":"maxDelay","value":"5","type":"str"}],"x":290,"y":560,"wires":[["d87201e6.801af"]]},{"id":"1636b491.8daffb","type":"subflow:5f3194a9.d7236c","z":"4f666315.2afffc","name":"","env":[{"name":"minDelay","value":"2","type":"num"},{"name":"maxDelay","value":"15","type":"str"}],"x":430,"y":240,"wires":[["e445e789.1c29e8"]]},{"id":"c48a1c65.43ef7","type":"subflow:5f3194a9.d7236c","z":"4eea289e.b77d38","name":"","env":[{"name":"maxDelay","value":"15","type":"str"}],"x":400,"y":520,"wires":[["3f08199b.a0f396"]]},{"id":"af51ab8b.529f38","type":"subflow:da409f68.5a74d","z":"4eea289e.b77d38","name":"","env":[],"x":275,"y":480,"wires":[["ee1c366c.9f8af8","c48a1c65.43ef7"]],"l":false},{"id":"6ee90187.d17cb","type":"stoptimer","z":"ce61c348.0d296","duration":"15","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":650,"y":360,"wires":[["b3f81398.1036e"],[]]},{"id":"17bf00f4.cd9caf","type":"subflow:5f3194a9.d7236c","z":"4ca21be4.5fec94","name":"","env":[{"name":"maxDelay","value":"15","type":"str"}],"x":330,"y":1240,"wires":[["5d92cc89.b354b4"]]},{"id":"50efaa9.0639b54","type":"subflow:5f3194a9.d7236c","z":"4ca21be4.5fec94","name":"5m min","env":[{"name":"minDelay","value":"5","type":"num"},{"name":"maxDelay","value":"15","type":"str"}],"x":700,"y":900,"wires":[["5ceb73c7.491e6c"]]},{"id":"8135814e.4661f","type":"subflow:5f3194a9.d7236c","z":"4ca21be4.5fec94","name":"","env":[{"name":"maxDelay","value":"15","type":"str"}],"x":330,"y":560,"wires":[["fcec50b5.8a6ad"]]},{"id":"1af6bdca.193732","type":"subflow:5f3194a9.d7236c","z":"4ca21be4.5fec94","name":"","env":[{"name":"maxDelay","value":"15","type":"str"}],"x":530,"y":2160,"wires":[["64186c9a.82e5d4"]]},{"id":"bf57a0e7.1f704","type":"subflow:a1f1a83d.d56568","z":"a1a797e.113a768","name":"","env":[],"x":410,"y":120,"wires":[["ad513ea.a79aac"]]},{"id":"ad513ea.a79aac","type":"function","z":"a1a797e.113a768","name":"Status","func":"const { group_name, state } = msg.payload;\n\nreturn {\n    payload: {\n        text: `${group_name} to ${state} at: ${msg.dateString}`\n    }\n}","outputs":1,"noerr":0,"x":570,"y":120,"wires":[[]]},{"id":"6ce5da12.ebaba4","type":"function","z":"a1a797e.113a768","name":"Create Payload","func":"const regex = /^sensor\\.replay_(.*)$/gm;\nconst match = regex.exec(msg.topic)\n\nconst room = match[1]\n\nmsg.payload = {\n    group_name,\n    state: msg.payload > 1 ? \"on\" : \"off\",\n    data: {\n        entity_id: `light.${msg.payload.room}`    \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":80,"wires":[["bf57a0e7.1f704"]]},{"id":"6b770e1.60b27f","type":"subflow:a1a797e.113a768","z":"7afe1c1c.fc2824","name":"","env":[],"x":310,"y":520,"wires":[["c0728bf3.a299d8"]]},{"id":"565cd3ec.27c09c","type":"change","z":"e8e1522.0dab4b","name":"Clear entity_id","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":120,"wires":[["15d91635.07a43a"]]},{"id":"947814f9.5a76d8","type":"subflow:a1f1a83d.d56568","z":"e8e1522.0dab4b","name":"","x":450,"y":260,"wires":[["96a81310.f751a"]]},{"id":"77c68764.6e5798","type":"subflow:e8e1522.0dab4b","z":"7afe1c1c.fc2824","name":"","x":820,"y":620,"wires":[[]]},{"id":"41329fe7.8447a","type":"api-call-service","z":"ce61c348.0d296","name":"Night Mode On","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"media_player","service":"songpal_set_sound_setting","entityId":"media_player.living_room_speakers","data":"{\"name\":\"nightMode\", \"value\": \"on\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":1000,"wires":[[]]},{"id":"3e5c3ef7.727102","type":"api-call-service","z":"ce61c348.0d296","name":"Night Mode Off","server":"81491f2d.c6cf8","version":1,"service_domain":"media_player","service":"songpal_set_sound_setting","entityId":"media_player.living_room_speakers","data":"{\"name\":\"nightMode\", \"value\": \"off\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":940,"wires":[[]]},{"id":"58dd3c88.13bd44","type":"server-state-changed","z":"ce61c348.0d296","name":"Day Phase Changed","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.day_phase","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":170,"y":940,"wires":[["4c47cff8.af3b1"]]},{"id":"4a193f89.2411c","type":"trigger-state","z":"ce61c348.0d296","name":"Living Room Speaker On","server":"81491f2d.c6cf8","entityid":"media_player.living_room_speakers","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"v280fjm3bmi","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"On"},{"id":"ks9w7nfkcd","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"Unavailable"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":150,"y":1020,"wires":[["4c47cff8.af3b1","139e7cce.b23773"],[]]},{"id":"4c47cff8.af3b1","type":"subflow:ca588edf.4580e","z":"ce61c348.0d296","name":"","x":370,"y":960,"wires":[["3e5c3ef7.727102"],["3e5c3ef7.727102"],["3e5c3ef7.727102"],["41329fe7.8447a"]]},{"id":"84c646a7.51e368","type":"hue-motion","z":"ce61c348.0d296","name":"Living Room Motion","bridge":"93032684.db6d98","sensorid":"2","x":140,"y":300,"wires":[["7cb4492d.1bc6c8","5bd1ed8b.e64bf4"]]},{"id":"7cb4492d.1bc6c8","type":"subflow:5f3194a9.d7236c","z":"ce61c348.0d296","name":"","env":[{"name":"minDelay","value":"2","type":"num"},{"name":"maxDelay","value":"15","type":"str"}],"x":430,"y":360,"wires":[["6ee90187.d17cb","feba66fa.37f0a8","44f916af.d2a058"]]},{"id":"443aec2f.0b7b84","type":"hue-motion","z":"4f666315.2afffc","name":"Living Room Motion","bridge":"93032684.db6d98","sensorid":"2","x":140,"y":220,"wires":[["6f1c8d64.b35974"]]},{"id":"4cd69b0a.ca80d4","type":"function","z":"da409f68.5a74d","name":"","func":"return typeof msg.payload === \"object\" \n    ? { payload: msg.payload.motion }\n    : msg;","outputs":1,"noerr":0,"x":170,"y":80,"wires":[[]]},{"id":"362a208.f4a9be","type":"hue-motion","z":"4f666315.2afffc","name":"Kitchen Motion","bridge":"93032684.db6d98","sensorid":"14","x":160,"y":280,"wires":[["6f1c8d64.b35974"]]},{"id":"160f8ca.a189e73","type":"hue-motion","z":"4f666315.2afffc","name":"Top Floor Motion","bridge":"93032684.db6d98","sensorid":"17","x":150,"y":160,"wires":[["6f1c8d64.b35974"]]},{"id":"36a3538b.925e6c","type":"hue-motion","z":"4f666315.2afffc","name":"Toilet Motion","bridge":"93032684.db6d98","sensorid":"11","x":110,"y":520,"wires":[["45dd5909.49bb48","43b52f6b.ac177"]]},{"id":"21a201c1.a82f1e","type":"hue-motion","z":"3bd8c115.3e42ae","name":"Kitchen Motion","bridge":"93032684.db6d98","sensorid":"14","x":160,"y":140,"wires":[["16366b3.250ee95"]]},{"id":"7e508d44.a37404","type":"hue-motion","z":"3bd8c115.3e42ae","name":"Hallway Motion","bridge":"93032684.db6d98","sensorid":"8","x":160,"y":260,"wires":[["16366b3.250ee95"]]},{"id":"c1df1466.0cdbb8","type":"hue-motion","z":"4f666315.2afffc","name":"Entrance Hall Motion","bridge":"93032684.db6d98","sensorid":"8","x":140,"y":340,"wires":[["6f1c8d64.b35974"]]},{"id":"12314a76.84db46","type":"hue-motion","z":"4ca21be4.5fec94","name":"Entrance Hall Motion","bridge":"93032684.db6d98","sensorid":"8","x":240,"y":120,"wires":[["e7d59efa.7d4b"]]},{"id":"b35fd3df.feb2f","type":"hue-motion","z":"4ca21be4.5fec94","name":"Top Floor Motion","bridge":"93032684.db6d98","sensorid":"17","x":130,"y":520,"wires":[["b6355d4.19099a","8135814e.4661f"]]},{"id":"53ff5493.0cf8cc","type":"hue-motion","z":"4ca21be4.5fec94","name":"Top Floor Motion","bridge":"93032684.db6d98","sensorid":"17","x":130,"y":860,"wires":[["41eaee8f.91c56","f15d3f09.951bf"]]},{"id":"5a093f14.8f50f","type":"hue-motion","z":"4ca21be4.5fec94","name":"Bathroom Sensor","bridge":"93032684.db6d98","sensorid":"5","x":130,"y":1200,"wires":[["3eeec1f3.36975e","17bf00f4.cd9caf"]]},{"id":"21ed536c.5a722c","type":"hue-motion","z":"4eea289e.b77d38","name":"Entrance Hall Motion","bridge":"93032684.db6d98","sensorid":"8","x":140,"y":140,"wires":[["a9d06255.e3748"]]},{"id":"b04529fb.a86998","type":"hue-motion","z":"4eea289e.b77d38","name":"Kitchen Motion","bridge":"93032684.db6d98","sensorid":"14","x":140,"y":440,"wires":[["af51ab8b.529f38"]]},{"id":"a9391290.cb25e","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Sleep Mode","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sleep_mode","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":150,"y":700,"wires":[["89bbce81.c1318"]]},{"id":"257f592d.eca5d6","type":"trigger-state","z":"ef1c2144.74e1","name":"Guest Room Lights On","server":"81491f2d.c6cf8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.guest_room","entityidfiltertype":"substring","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":280,"y":320,"wires":[["9b91c3b6.a97aa"],[]]},{"id":"f5347408.2d9948","type":"api-current-state","z":"e8e1522.0dab4b","name":"Room","server":"81491f2d.c6cf8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":120,"wires":[["565cd3ec.27c09c"]]},{"id":"9946018f.e9f93","type":"function","z":"e8e1522.0dab4b","name":"Group Name","func":"msg.group_name = msg.payload.group_name || env.get(\"group_name\");\nmsg.payload = { entity_id: `light.${msg.group_name.toLowerCase().replace(/ /g, \"_\")}` }\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":120,"wires":[["f5347408.2d9948"]]},{"id":"68a9a67e.d45e98","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Sleep Mode Changed","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sleep_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":280,"y":1820,"wires":[[],["cced5d95.31977"]]},{"id":"cced5d95.31977","type":"api-call-service","z":"4ca21be4.5fec94","name":"Lights Off","server":"81491f2d.c6cf8","version":1,"service_domain":"light","service":"turn_off","entityId":"light.ensuite","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":480,"y":1820,"wires":[[]]},{"id":"b5916f14.4a1ca","type":"api-current-state","z":"ce61c348.0d296","name":"TV?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"media_player.living_room_tv","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":930,"y":180,"wires":[["6a52de4a.d9583"],[]]},{"id":"41d801f0.05c8f","type":"catch","z":"ce7797ed.a4f218","name":"","scope":null,"uncaught":false,"x":100,"y":380,"wires":[["5bbcde12.52a1b","c0dca7fc.aa0238"]]},{"id":"7157cdcd.f91434","type":"comment","z":"ce7797ed.a4f218","name":"Error Handling","info":"","x":110,"y":280,"wires":[]},{"id":"4ff98d6c.47ace4","type":"api-call-service","z":"ce7797ed.a4f218","name":"Notify Dan","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_dphone","entityId":"","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":450,"y":380,"wires":[[]]},{"id":"4a910923.f09898","type":"inject","z":"ce7797ed.a4f218","name":"Test","repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"true","payloadType":"bool","x":110,"y":320,"wires":[["7372597e.7ddcb8"]]},{"id":"5bbcde12.52a1b","type":"function","z":"ce7797ed.a4f218","name":"Format Error","func":"msg.payload = {\n    data: {\n        title: msg.error.source.name,\n        data: { subtitle: msg.error.source.type },\n        message: msg.error.message\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":380,"wires":[["4ff98d6c.47ace4"]]},{"id":"7372597e.7ddcb8","type":"api-call-service","z":"ce7797ed.a4f218","name":"Badly Configured Node","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_dphone","entityId":"","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":310,"y":320,"wires":[[]]},{"id":"656189fd.c5ba98","type":"api-call-service","z":"7afe1c1c.fc2824","name":"Notify Dan","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_dphone","entityId":"","data":"{ \"message\": \"Away Mode deactivated!\" }","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":590,"y":260,"wires":[[]]},{"id":"6ea35e23.6509d","type":"api-call-service","z":"7afe1c1c.fc2824","name":"Notify Dan","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_dphone","entityId":"","data":"{ \"message\": \"Turning everything off!\" }","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":870,"y":380,"wires":[[]]},{"id":"69546f56.f91fb","type":"api-call-service","z":"7afe1c1c.fc2824","name":"Notify Dan","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_dphone","entityId":"","data":"{ \"message\": \"Away Mode activated!\" }","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":890,"y":320,"wires":[[]]},{"id":"272414a2.30aa9c","type":"hue-motion","z":"4ca21be4.5fec94","name":"Top Floor Motion","bridge":"93032684.db6d98","sensorid":"17","x":130,"y":2120,"wires":[["31d880e8.787","db684ce3.388a5"]]},{"id":"7001fd7.4f3a904","type":"api-call-service","z":"4ca21be4.5fec94","name":"Set Scene \"Bed Time\"","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"hue","service":"hue_activate_scene","entityId":"","data":"{ \"group_name\": \"Den\", \"scene_name\": \"Bed Time\" }","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":740,"y":2000,"wires":[[]]},{"id":"563b41bb.52aad","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Sleep Mode","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sleep_mode","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":150,"y":1460,"wires":[["6a1fcd92.c32504"]]},{"id":"d854ec53.d085d","type":"api-call-service","z":"4ca21be4.5fec94","name":"Top Floor Landing Off","server":"81491f2d.c6cf8","version":1,"service_domain":"light","service":"turn_off","entityId":"light.top_floor_landing","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":740,"y":400,"wires":[[]]},{"id":"e96d5ac7.52e548","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Sleep Mode","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sleep_mode","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":460,"wires":[[],["213cc683.78a59a"]]},{"id":"ef08c2a1.96db7","type":"api-current-state","z":"4ca21be4.5fec94","name":"Sleep Mode?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_mode","state_type":"str","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":1460,"wires":[["7ad616e6.7f13f8","b5bdacae.00fff"],["e04e6ade.157078"]]},{"id":"b5bdacae.00fff","type":"stoptimer","z":"4ca21be4.5fec94","duration":"2","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":630,"y":1360,"wires":[["c321c5f7.75f428"],[]]},{"id":"c321c5f7.75f428","type":"api-call-service","z":"4ca21be4.5fec94","name":"Lights Off","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bedroom","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":800,"y":1360,"wires":[[]]},{"id":"b834a9db.adf178","type":"server-state-changed","z":"4ca21be4.5fec94","name":"Bedroom Lights","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.bedroom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":120,"y":240,"wires":[["2a32fc44.964bf4"]]},{"id":"f300c761.7cef38","type":"switch","z":"4ca21be4.5fec94","name":"Dimmed?","property":"data.new_state.attributes.brightness","propertyType":"msg","rules":[{"t":"lt","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":680,"y":280,"wires":[["11c402d8.be71fd","4f27fe56.c0bec","2039d266.1dd03e"]]},{"id":"2a32fc44.964bf4","type":"subflow:f9bc0030.d8095","z":"4ca21be4.5fec94","name":"","x":320,"y":240,"wires":[["ceacd74c.754f08"],["b05969af.bceda8"]]},{"id":"ceacd74c.754f08","type":"switch","z":"4ca21be4.5fec94","name":"On?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":200,"wires":[["4f311970.da6fa8"]]},{"id":"11c402d8.be71fd","type":"api-call-service","z":"4ca21be4.5fec94","name":"Turn On Sleep Mode","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.sleep_mode","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":880,"y":200,"wires":[[]]},{"id":"668aed9d.d0e034","type":"delay","z":"e8e1522.0dab4b","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":660,"y":200,"wires":[["c88334fd.038e98","42842d23.38fd84"]]},{"id":"38c1d0e8.4972f","type":"function","z":"5f3194a9.d7236c","name":"Manage delay","func":"const clamp = (num, min, max) => \n    Math.min(Math.max(num, min), max);\n\nconst motionCount = flow.get(\"motionCount\")\nconst min = env.get(\"minDelay\") || 0;\nconst max = env.get(\"maxDelay\") || 15;\n\nconst on = msg.payload === true;\nconst delay = clamp(motionCount*motionCount, min, max) * 1000 * 60\n\nreturn {\n    ...msg,\n    ...(on ? { reset: true } : { delay })\n}","outputs":1,"noerr":0,"x":300,"y":160,"wires":[["5430ca87.bd1904","5e8b0a34.bcff14"]]},{"id":"5430ca87.bd1904","type":"delay","z":"5f3194a9.d7236c","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":500,"y":160,"wires":[["173a3811.20a208","2acd50b8.fe1e9"]]},{"id":"7c4a8632.0cb0e8","type":"function","z":"5f3194a9.d7236c","name":"Increment flow.motionCount","func":"if (msg.payload === true) {\n    const motionCount = flow.get(\"motionCount\") || 0;\n    \n    flow.set(\"motionCount\", motionCount + 1);\n}\n\nreturn { \n    ...msg\n};","outputs":1,"noerr":0,"x":540,"y":60,"wires":[["38c1d0e8.4972f"]]},{"id":"a5bdbc06.83d16","type":"function","z":"5f3194a9.d7236c","name":"Motion?","func":"return {\n    ...msg,\n    payload: msg.payload === true \n        || msg.payload.motion === true \n        || msg.payload === \"on\"\n}","outputs":1,"noerr":0,"x":180,"y":60,"wires":[["d364a215.54854"]]},{"id":"d364a215.54854","type":"rbe","z":"5f3194a9.d7236c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":330,"y":60,"wires":[["7c4a8632.0cb0e8"]]},{"id":"2acd50b8.fe1e9","type":"change","z":"5f3194a9.d7236c","name":"Reset flow.motionCount","rules":[{"t":"set","p":"motionCount","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":160,"wires":[[]]},{"id":"1bf31b72.6dc805","type":"function","z":"5f3194a9.d7236c","name":"Status Text","func":"const on = msg.payload === true;\nconst delay = msg.delay / 1000 / 60;\n\nconst action = !on ? `${delay}m` : \"Stop\"\nconst fill = !on ? \"green\" : \"red\";\n\nconst text = `${action} at: ${msg.dateString}` \n\n\nreturn {\n    payload: {\n        shape: \"dot\",\n        fill,\n        text\n    }\n}","outputs":1,"noerr":0,"x":690,"y":300,"wires":[[]]},{"id":"5e8b0a34.bcff14","type":"subflow:a1f1a83d.d56568","z":"5f3194a9.d7236c","name":"","x":510,"y":300,"wires":[["1bf31b72.6dc805"]]},{"id":"3bb9b324.c3d4bc","type":"function","z":"5f3194a9.d7236c","name":"Finished Text","func":"return {\n    payload: {\n        shape: \"dot\",\n        fill: \"blue\",\n        text: `Finished at: ${msg.dateString}`\n    }\n}","outputs":1,"noerr":0,"x":710,"y":240,"wires":[[]]},{"id":"173a3811.20a208","type":"subflow:a1f1a83d.d56568","z":"5f3194a9.d7236c","name":"","x":530,"y":240,"wires":[["3bb9b324.c3d4bc"]]},{"id":"80887c43.33dc6","type":"subflow:5f3194a9.d7236c","z":"ce7797ed.a4f218","name":"Timer","env":[{"name":"minDelay","value":"1","type":"num"},{"name":"maxDelay","value":"15","type":"str"}],"x":330,"y":100,"wires":[["e06b2a6.1a502d8"]]},{"id":"f15d3f09.951bf","type":"api-current-state","z":"4ca21be4.5fec94","name":"Sleep Mode?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_mode","state_type":"str","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":920,"wires":[["50efaa9.0639b54"],["39662e89.c09e72"]]},{"id":"39662e89.c09e72","type":"subflow:5f3194a9.d7236c","z":"4ca21be4.5fec94","name":"1m min","env":[{"name":"maxDelay","value":"15","type":"str"}],"x":700,"y":960,"wires":[["5ceb73c7.491e6c"]]},{"id":"370c8c96.a9bef4","type":"hue-motion","z":"3bd8c115.3e42ae","name":"Kitchen Corner Motion","bridge":"93032684.db6d98","sensorid":"20","x":140,"y":200,"wires":[["16366b3.250ee95"]]},{"id":"710a4709.34e848","type":"hue-motion","z":"4eea289e.b77d38","name":"Kitchen Corner Motion","bridge":"93032684.db6d98","sensorid":"20","x":120,"y":500,"wires":[["af51ab8b.529f38"]]},{"id":"b05969af.bceda8","type":"switch","z":"4ca21be4.5fec94","name":"Already On?","property":"data.old_state.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":280,"wires":[["f300c761.7cef38"]]},{"id":"b878aa77.6ab4c8","type":"hue-motion","z":"4ca21be4.5fec94","name":"Top Floor Motion","bridge":"93032684.db6d98","sensorid":"17","x":130,"y":1580,"wires":[["15d644c5.ebbf8b"]]},{"id":"15d644c5.ebbf8b","type":"subflow:5f3194a9.d7236c","z":"4ca21be4.5fec94","name":"","env":[{"name":"minDelay","value":"60","type":"num"},{"name":"maxDelay","value":"60","type":"str"}],"x":330,"y":1580,"wires":[["ad196e2a.c3f86"]]},{"id":"ad196e2a.c3f86","type":"api-call-service","z":"4ca21be4.5fec94","name":"Lights Off","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bedroom","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":500,"y":1580,"wires":[[]]},{"id":"4f27fe56.c0bec","type":"api-call-service","z":"4ca21be4.5fec94","name":"Ensuite Lights Off","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.ensuite","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":870,"y":260,"wires":[[]]},{"id":"2039d266.1dd03e","type":"api-call-service","z":"4ca21be4.5fec94","name":"Top Floor Landing Off","server":"81491f2d.c6cf8","version":1,"service_domain":"light","service":"turn_off","entityId":"light.top_floor_landing","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":880,"y":320,"wires":[[]]},{"id":"c88334fd.038e98","type":"stoptimer","z":"e8e1522.0dab4b","duration":"3","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":860,"y":140,"wires":[[],[]]},{"id":"5473996a.753978","type":"inject","z":"ce7797ed.a4f218","name":"Everyday at 0400","repeat":"","crontab":"00 04 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":200,"wires":[["c0dcfae3.2d13c8"]]},{"id":"c0dcfae3.2d13c8","type":"api-call-service","z":"ce7797ed.a4f218","name":"Reboot","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"hassio","service":"host_reboot","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":200,"wires":[[]]},{"id":"f2ab517a.14b1a","type":"function","z":"8c581faa.50374","name":"Set flow vars","func":"const service = env.get(\"service\");\n\nconst data = {\n    ...env.get(\"data\"),\n    ...(\n        (typeof msg.payload === \"object\" \n            && typeof msg.payload.data === \"object\")\n        ? msg.payload.data\n        : {}\n    ),\n};\n\nconst domain = service === \"hue_activate_scene\"\n    ? \"hue\"\n    : \"light\";\n\nconst entity_id = service === \"hue_activate_scene\"\n    ? \"light.\" + data.group_name.toLowerCase().replace(/ /g, \"_\")\n    : env.get(\"entity_id\");\n    \nflow.set(\"entity_id\", entity_id);\nflow.set(\"domain\", domain);\nflow.set(\"service\", service);\nflow.set(\"data\", data);\nflow.set(\"attempt\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":100,"wires":[["cf667d7a.229fa"]]},{"id":"3ced0119.3328ce","type":"api-call-service","z":"8c581faa.50374","name":"Call Service","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"","service":"","entityId":"","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":550,"y":100,"wires":[[]]},{"id":"d6532c15.0a00a","type":"delay","z":"8c581faa.50374","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":160,"wires":[["ce29376b.ca4398"]]},{"id":"ce29376b.ca4398","type":"api-current-state","z":"8c581faa.50374","name":"Get State","server":"81491f2d.c6cf8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{ flow.entity_id }}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":160,"wires":[["80f06794.dcec08"]]},{"id":"144b5ce0.8eb333","type":"function","z":"8c581faa.50374","name":"Next attempt","func":"const attempt = flow.get(\"attempt\");\n\nflow.set(\"attempt\", attempt + 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":260,"wires":[["60873d17.d48d74"]]},{"id":"60873d17.d48d74","type":"switch","z":"8c581faa.50374","name":"< 3","property":"attempmt","propertyType":"flow","rules":[{"t":"lt","v":"3","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":260,"wires":[["cf667d7a.229fa"],["640e8722.950a98","9307c85.d36e338"]]},{"id":"c8a3de3f.00aa","type":"api-call-service","z":"8c581faa.50374","name":"Notify Dan","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_dphone","entityId":"","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":730,"y":260,"wires":[[]]},{"id":"24f9b40.1b1be4c","type":"function","z":"8c581faa.50374","name":"Format Error","func":"const entity_id = flow.get(\"entity_id\");\nconst service = flow.get(\"service\");\n\nmsg.payload = {\n    data: {\n        title: `Failed to update ${entity_id}`,\n        message: `Could not perform ${service}`\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":260,"wires":[["c8a3de3f.00aa"]]},{"id":"737da0a.604136","type":"link in","z":"8c581faa.50374","name":"","links":["b05b8139.1f5f6"],"x":55,"y":260,"wires":[["144b5ce0.8eb333"]],"icon":"node-red-contrib-actionflows/loopflow.png"},{"id":"b05b8139.1f5f6","type":"link out","z":"8c581faa.50374","name":"","links":["737da0a.604136"],"x":1015,"y":180,"wires":[],"icon":"node-red-contrib-actionflows/loopflow.png"},{"id":"42ec8b.c9401374","type":"link in","z":"8c581faa.50374","name":"","links":["640e8722.950a98"],"x":935,"y":100,"wires":[[]],"icon":"node-red/alert.svg"},{"id":"640e8722.950a98","type":"link out","z":"8c581faa.50374","name":"","links":["42ec8b.c9401374"],"x":495,"y":320,"wires":[],"icon":"node-red/alert.svg"},{"id":"42842d23.38fd84","type":"subflow:8c581faa.50374","z":"e8e1522.0dab4b","name":"Set Scene","env":[{"name":"service","value":"hue_activate_scene","type":"str"}],"x":870,"y":200,"wires":[[]]},{"id":"cf667d7a.229fa","type":"function","z":"8c581faa.50374","name":"Payload","func":"msg.payload = typeof msg.payload === \"object\"\n    ? msg.payload\n    : {};\n    \nif (flow.get(\"service\") === \"hue_activate_scene\") {\n    msg.payload.data = flow.get(\"data\");\n} else {\n    msg.payload.data = { \n        entity_id: flow.get(\"entity_id\"),\n        ...flow.get(\"data\")\n    };\n}\n\nmsg.flow = {\n    entity_id: flow.get(\"entity_id\"),\n    domain: flow.get(\"domain\"),\n    service: flow.get(\"service\"),\n    data: flow.get(\"data\"),\n    attempt: flow.get(\"attempt\")\n};\nmsg.env = {\n    entity_id: env.get(\"entity_id\"),\n    service: env.get(\"service\"),\n    data: env.get(\"data\"),\n};\n\nmsg.payload.domain = flow.get(\"domain\");\nmsg.payload.service = flow.get(\"service\");\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":100,"wires":[["3ced0119.3328ce","d6532c15.0a00a","f1802778.7f3178"]]},{"id":"c0dca7fc.aa0238","type":"debug","z":"ce7797ed.a4f218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":250,"y":440,"wires":[]},{"id":"91d7fa27.1d5a58","type":"link in","z":"8c581faa.50374","name":"","links":["f1802778.7f3178","9307c85.d36e338"],"x":95,"y":440,"wires":[["5ad017a8.c90f08"]],"icon":"font-awesome/fa-info"},{"id":"f1802778.7f3178","type":"link out","z":"8c581faa.50374","name":"","links":["91d7fa27.1d5a58"],"x":495,"y":40,"wires":[],"icon":"font-awesome/fa-info"},{"id":"5ad017a8.c90f08","type":"subflow:a1f1a83d.d56568","z":"8c581faa.50374","name":"","x":230,"y":440,"wires":[["e3c82402.c79f98"]]},{"id":"e3c82402.c79f98","type":"function","z":"8c581faa.50374","name":"Status Text","func":"const domain = flow.get(\"domain\");\nconst service = flow.get(\"service\");\n\nconst attempt = flow.get(\"attempt\");\nconst attemptText = attempt > 0\n    ? `#${attempt} `\n    : \"\";\n\nconst color = attempt === 0 \n    ? \"green\"\n    : (attempt < 3\n        ? \"yellow\"\n        : \"red\")\n\nmsg.payload = {\n    text: `${attemptText}${domain}.${service} called at: ${msg.dateString}`,\n    shape:\"dot\", \n    fill: color,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":440,"wires":[[]]},{"id":"9307c85.d36e338","type":"link out","z":"8c581faa.50374","name":"","links":["91d7fa27.1d5a58"],"x":495,"y":360,"wires":[],"icon":"font-awesome/fa-info"},{"id":"43b52f6b.ac177","type":"api-current-state","z":"4f666315.2afffc","name":"Light?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.toilet","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":270,"y":480,"wires":[[],["14781c37.2a5ed4"]]},{"id":"44a32ca2.2add34","type":"subflow:8c581faa.50374","z":"ce61c348.0d296","name":"Set Movie Scene","env":[{"name":"service","value":"hue_activate_scene","type":"str"},{"name":"data","value":"{ \"group_name\": \"Living Room\", \"scene_name\": \"Movie\" }","type":"json"}],"x":490,"y":600,"wires":[[]]},{"id":"6a52de4a.d9583","type":"subflow:8c581faa.50374","z":"ce61c348.0d296","name":"Spot 3 Off","env":[{"name":"entity_id","value":"light.living_room_spot_3","type":"str"},{"name":"service","value":"turn_off","type":"str"}],"x":1110,"y":200,"wires":[[]]},{"id":"44f916af.d2a058","type":"subflow:8c581faa.50374","z":"ce61c348.0d296","name":"Living Room Off","env":[{"name":"entity_id","value":"light.living_room","type":"str"},{"name":"service","value":"turn_off","type":"str"}],"x":640,"y":420,"wires":[[]]},{"id":"e3c90b90.5df348","type":"subflow:8c581faa.50374","z":"3bd8c115.3e42ae","name":"Kitchen Off","env":[{"name":"entity_id","value":"light.kitchen","type":"str"},{"name":"service","value":"turn_off","type":"str"}],"x":610,"y":220,"wires":[[]]},{"id":"55b41a5b.16b264","type":"inject","z":"3bd8c115.3e42ae","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":420,"y":320,"wires":[["e3c90b90.5df348"]]},{"id":"80f06794.dcec08","type":"switch","z":"8c581faa.50374","name":"Updated","property":"data.timeSinceChangedMs","propertyType":"msg","rules":[{"t":"lt","v":"10000","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":860,"y":160,"wires":[[],["b05b8139.1f5f6"]]},{"id":"5ceb73c7.491e6c","type":"subflow:8c581faa.50374","z":"4ca21be4.5fec94","name":"Lights Off","env":[{"name":"entity_id","value":"light.dressing_room","type":"str"},{"name":"service","value":"turn_off","type":"str"}],"x":900,"y":940,"wires":[[]]},{"id":"aa9051e0.debb2","type":"subflow:8c581faa.50374","z":"4ca21be4.5fec94","name":"Set Scene \"Bed Time\"","env":[{"name":"service","value":"hue_activate_scene","type":"str"},{"name":"data","value":"{ \"group_name\": \"Dressing Room\", \"scene_name\": \"Bed Time\" }","type":"json"}],"x":740,"y":740,"wires":[[]]},{"id":"354fec7d.3221b4","type":"api-current-state","z":"ce61c348.0d296","name":"PS4?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"standby","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"media_player.playstation_4","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":930,"y":260,"wires":[["6a52de4a.d9583"],[]]},{"id":"23eda5a1.d1f8d2","type":"api-current-state","z":"ce61c348.0d296","name":"PS4?","server":"81491f2d.c6cf8","version":1,"outputs":2,"halt_if":"standby","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"media_player.playstation_4","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":890,"y":120,"wires":[["32bd5b4.d23aaa4"],["408f1cef.d809e4"]]},{"id":"8de028f9.8fa73","type":"server-state-changed","z":"ce61c348.0d296","name":"PS4","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.playstation_4","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":160,"wires":[["641ee717.e0f1b"]]},{"id":"ff4f33a6.2c32d","type":"server-state-changed","z":"ce61c348.0d296","name":"TV","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.living_room_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is_not","outputs":1,"output_only_on_state_change":true,"x":90,"y":100,"wires":[["641ee717.e0f1b"]]},{"id":"641ee717.e0f1b","type":"stoptimer","z":"ce61c348.0d296","duration":"30","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":270,"y":100,"wires":[["de63f8ef.3f2d38"],[]]},{"id":"db684ce3.388a5","type":"subflow:ca588edf.4580e","z":"4ca21be4.5fec94","name":"","x":330,"y":2160,"wires":[["1af6bdca.193732"],[],["1af6bdca.193732"],["1af6bdca.193732"]]},{"id":"da207e1e.539318","type":"ha-entity","z":"b65572f2.46d178","name":"Kitchen Sensor Motion","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Kitchen Sensor Motion"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.motion","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":380,"y":40,"wires":[[]]},{"id":"54949e2.101766","type":"hue-motion","z":"b65572f2.46d178","name":"Kitchen Sensor","bridge":"93032684.db6d98","sensorid":"14","x":120,"y":40,"wires":[["da207e1e.539318","18845bf1.02cebc"]]},{"id":"18845bf1.02cebc","type":"ha-entity","z":"b65572f2.46d178","name":"Kitchen Sensor Battery","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Kitchen Sensor Battery"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"info.battery","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":390,"y":100,"wires":[[]]},{"id":"9ac9f5c4.bfe1f8","type":"hue-temperature","z":"b65572f2.46d178","name":"Kitchen Sensor","bridge":"93032684.db6d98","sensorid":"16","x":120,"y":220,"wires":[["f7867590.b81de"]]},{"id":"82fd4c0f.09a618","type":"hue-brightness","z":"b65572f2.46d178","name":"Kitchen Sensor","bridge":"93032684.db6d98","sensorid":"15","x":120,"y":160,"wires":[["bcf4cc19.e6d76"]]},{"id":"f7867590.b81de","type":"ha-entity","z":"b65572f2.46d178","name":"Kitchen Sensor Temperature","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Kitchen Sensor Temperature"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"C"}],"state":"payload.celsius","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":400,"y":220,"wires":[[]]},{"id":"bcf4cc19.e6d76","type":"ha-entity","z":"b65572f2.46d178","name":"Kitchen Sensor Light","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Kitchen Sensor Light"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Celsius"}],"state":"payload.lightLevel","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":380,"y":160,"wires":[[]]},{"id":"4a38ea39.f54514","type":"subflow:a1f1a83d.d56568","z":"ca588edf.4580e","name":"","env":[],"x":390,"y":260,"wires":[["2ffe74e7.704d7c"]]},{"id":"2ffe74e7.704d7c","type":"function","z":"ca588edf.4580e","name":"Status Text","func":"const dayPhase = msg.payload\n\nconst color = {\n    Morning: \"blue\",\n    Day: \"green\",\n    Evening: \"yellow\",\n    Night: \"red\"\n}\n\nconst text = `${dayPhase} at: ${msg.dateString}` \n\n\nreturn {\n    payload: {\n        shape: \"dot\",\n        fill: color[dayPhase],\n        text\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":260,"wires":[[]]},{"id":"e207100d.bc9f5","type":"ha-entity","z":"b65572f2.46d178","name":"Kitchen Corner Sensor Motion","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Kitchen Corner Sensor Motion"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.motion","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":930,"y":40,"wires":[[]]},{"id":"868b6ffe.3588c8","type":"hue-motion","z":"b65572f2.46d178","name":"Kitchen Corner Sensor","bridge":"93032684.db6d98","sensorid":"20","x":660,"y":40,"wires":[["e207100d.bc9f5","ac77764b.a347a8"]]},{"id":"ac77764b.a347a8","type":"ha-entity","z":"b65572f2.46d178","name":"Kitchen Corner Sensor Battery","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Kitchen Corner Sensor Battery"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"info.battery","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":930,"y":100,"wires":[[]]},{"id":"c76897ef.898d18","type":"hue-temperature","z":"b65572f2.46d178","name":"Kitchen Corner Sensor","bridge":"93032684.db6d98","sensorid":"22","x":660,"y":220,"wires":[["d043e8cf.d6848"]]},{"id":"30d67e46.b32322","type":"hue-brightness","z":"b65572f2.46d178","name":"Kitchen Corner Sensor","bridge":"93032684.db6d98","sensorid":"21","x":660,"y":160,"wires":[["7b9ec233.c11c9c"]]},{"id":"d043e8cf.d6848","type":"ha-entity","z":"b65572f2.46d178","name":"Kitchen Corner Sensor Temperature","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Kitchen Corner Sensor Temperature"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"C"}],"state":"payload.celsius","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":950,"y":220,"wires":[[]]},{"id":"7b9ec233.c11c9c","type":"ha-entity","z":"b65572f2.46d178","name":"Kitchen Corner Sensor Light","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Kitchen Corner Sensor Light"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Celsius"}],"state":"payload.lightLevel","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":920,"y":160,"wires":[[]]},{"id":"6192eb49.fdc284","type":"ha-entity","z":"b65572f2.46d178","name":"Toilet Sensor Motion","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Toilet Sensor Motion"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.motion","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":380,"y":300,"wires":[[]]},{"id":"71ce3a68.1e0d4c","type":"hue-motion","z":"b65572f2.46d178","name":"Toilet Sensor","bridge":"93032684.db6d98","sensorid":"11","x":110,"y":300,"wires":[["6192eb49.fdc284","bbf89337.bf53e"]]},{"id":"bbf89337.bf53e","type":"ha-entity","z":"b65572f2.46d178","name":"Toilet Sensor Battery","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Toilet Sensor Battery"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"info.battery","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":380,"y":360,"wires":[[]]},{"id":"a477e930.47aec8","type":"hue-temperature","z":"b65572f2.46d178","name":"Toilet Sensor","bridge":"93032684.db6d98","sensorid":"13","x":110,"y":480,"wires":[["ae35e605.4a61c"]]},{"id":"fa5ae8ed.9ecc18","type":"hue-brightness","z":"b65572f2.46d178","name":"Toilet Sensor","bridge":"93032684.db6d98","sensorid":"12","x":110,"y":420,"wires":[["2aa517bf.cb109"]]},{"id":"ae35e605.4a61c","type":"ha-entity","z":"b65572f2.46d178","name":"Toilet Sensor Temperature","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Toilet Sensor Temperature"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"C"}],"state":"payload.celsius","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":390,"y":480,"wires":[[]]},{"id":"2aa517bf.cb109","type":"ha-entity","z":"b65572f2.46d178","name":"Toilet Sensor Light","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Toilet Sensor Light"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Celsius"}],"state":"payload.lightLevel","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":370,"y":420,"wires":[[]]},{"id":"22eba70e.74414","type":"ha-entity","z":"b65572f2.46d178","name":"Entrance Hall Sensor Motion","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Entrance Hall Sensor Motion"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.motion","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":920,"y":300,"wires":[[]]},{"id":"cf2ecb86.6850e8","type":"hue-motion","z":"b65572f2.46d178","name":"Entrance Hall Sensor","bridge":"93032684.db6d98","sensorid":"8","x":660,"y":300,"wires":[["22eba70e.74414","e741a674.1407c"]]},{"id":"e741a674.1407c","type":"ha-entity","z":"b65572f2.46d178","name":"Entrance Hall Sensor Battery","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Entrance Hall Sensor Battery"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"info.battery","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":920,"y":360,"wires":[[]]},{"id":"966f19ce.77d748","type":"hue-temperature","z":"b65572f2.46d178","name":"Entrance Hall Sensor","bridge":"93032684.db6d98","sensorid":"10","x":660,"y":480,"wires":[["e917603.8ec9da"]]},{"id":"d7e71e10.a9363","type":"hue-brightness","z":"b65572f2.46d178","name":"Entrance Hall Sensor","bridge":"93032684.db6d98","sensorid":"9","x":660,"y":420,"wires":[["2f453862.89c5e8"]]},{"id":"e917603.8ec9da","type":"ha-entity","z":"b65572f2.46d178","name":"Entrance Hall Sensor Temperature","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Entrance Hall Sensor Temperature"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"C"}],"state":"payload.celsius","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":940,"y":480,"wires":[[]]},{"id":"2f453862.89c5e8","type":"ha-entity","z":"b65572f2.46d178","name":"Entrance Hall Sensor Light","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Entrance Hall Sensor Light"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Celsius"}],"state":"payload.lightLevel","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":920,"y":420,"wires":[[]]},{"id":"c11bb826.46fee","type":"ha-entity","z":"b65572f2.46d178","name":"Living Room Sensor Motion","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Living Room Sensor Motion"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.motion","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":920,"y":560,"wires":[[]]},{"id":"68977f34.681ae8","type":"hue-motion","z":"b65572f2.46d178","name":"Living Room Sensor","bridge":"93032684.db6d98","sensorid":"2","x":660,"y":560,"wires":[["c11bb826.46fee","48591e94.3ccb38"]]},{"id":"48591e94.3ccb38","type":"ha-entity","z":"b65572f2.46d178","name":"Living Room Sensor Battery","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Living Room Sensor Battery"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"info.battery","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":920,"y":620,"wires":[[]]},{"id":"4a6343a6.8b7204","type":"hue-temperature","z":"b65572f2.46d178","name":"Living Room Sensor","bridge":"93032684.db6d98","sensorid":"4","x":650,"y":740,"wires":[["b23c2d90.f90018"]]},{"id":"3946f6f1.86c8aa","type":"hue-brightness","z":"b65572f2.46d178","name":"Living Room Sensor","bridge":"93032684.db6d98","sensorid":"3","x":650,"y":680,"wires":[["490f12.0cbbe0f"]]},{"id":"b23c2d90.f90018","type":"ha-entity","z":"b65572f2.46d178","name":"Living Room Sensor Temperature","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Living Room Sensor Temperature"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"C"}],"state":"payload.celsius","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":940,"y":740,"wires":[[]]},{"id":"490f12.0cbbe0f","type":"ha-entity","z":"b65572f2.46d178","name":"Living Room Sensor Light","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Living Room Sensor Light"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Celsius"}],"state":"payload.lightLevel","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":910,"y":680,"wires":[[]]},{"id":"ba2644a9.2d0e2","type":"ha-entity","z":"b65572f2.46d178","name":"Top Floor Sensor Motion","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Top Floor Sensor Motion"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.motion","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":390,"y":820,"wires":[[]]},{"id":"96892b94.6fb928","type":"hue-motion","z":"b65572f2.46d178","name":"Top Floor Sensor","bridge":"93032684.db6d98","sensorid":"17","x":130,"y":820,"wires":[["ba2644a9.2d0e2","200da745.05f718"]]},{"id":"200da745.05f718","type":"ha-entity","z":"b65572f2.46d178","name":"Top Floor Sensor Battery","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Top Floor Sensor Battery"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"info.battery","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":390,"y":880,"wires":[[]]},{"id":"3f1c869f.dc0082","type":"hue-temperature","z":"b65572f2.46d178","name":"Top Floor Sensor","bridge":"93032684.db6d98","sensorid":"19","x":120,"y":1000,"wires":[["f2aa9201.8029"]]},{"id":"60b98512.f80adc","type":"hue-brightness","z":"b65572f2.46d178","name":"Top Floor Sensor","bridge":"93032684.db6d98","sensorid":"18","x":120,"y":940,"wires":[["18ad99e7.c5632e"]]},{"id":"f2aa9201.8029","type":"ha-entity","z":"b65572f2.46d178","name":"Top Floor Sensor Temperature","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Top Floor Sensor Temperature"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"C"}],"state":"payload.celsius","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":410,"y":1000,"wires":[[]]},{"id":"18ad99e7.c5632e","type":"ha-entity","z":"b65572f2.46d178","name":"Top Floor Sensor Light","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Top Floor Sensor Light"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Celsius"}],"state":"payload.lightLevel","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":380,"y":940,"wires":[[]]},{"id":"a749de46.04278","type":"ha-entity","z":"b65572f2.46d178","name":"Bathroom Sensor Motion","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Bathroom Sensor Motion"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.motion","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":910,"y":820,"wires":[[]]},{"id":"a897219a.84939","type":"hue-motion","z":"b65572f2.46d178","name":"Bathroom Sensor","bridge":"93032684.db6d98","sensorid":"5","x":650,"y":820,"wires":[["a749de46.04278","2323d644.7a466a"]]},{"id":"2323d644.7a466a","type":"ha-entity","z":"b65572f2.46d178","name":"Bathroom Sensor Battery","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Bathroom Sensor Battery"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"info.battery","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":910,"y":880,"wires":[[]]},{"id":"4535b5c8.2175d4","type":"hue-temperature","z":"b65572f2.46d178","name":"Bathroom Sensor","bridge":"93032684.db6d98","sensorid":"7","x":640,"y":1000,"wires":[["ddf83981.23a9e"]]},{"id":"11c36bc.f461814","type":"hue-brightness","z":"b65572f2.46d178","name":"Bathroom Sensor","bridge":"93032684.db6d98","sensorid":"6","x":640,"y":940,"wires":[["e4127e48.5e72a"]]},{"id":"ddf83981.23a9e","type":"ha-entity","z":"b65572f2.46d178","name":"Bathroom Sensor Temperature","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Bathroom Sensor Temperature"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"C"}],"state":"payload.celsius","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":930,"y":1000,"wires":[[]]},{"id":"e4127e48.5e72a","type":"ha-entity","z":"b65572f2.46d178","name":"Bathroom Sensor Light","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Bathroom Sensor Light"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Celsius"}],"state":"payload.lightLevel","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":910,"y":940,"wires":[[]]},{"id":"55ba9286.7a69cc","type":"inject","z":"7afe1c1c.fc2824","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":940,"wires":[["1270f5a6.f1fbca"]]},{"id":"4dae0793.9e1888","type":"function","z":"7afe1c1c.fc2824","name":"Parse","func":"const script = msg.payload[2]\nconst counters = script\n    .substring(17,script.indexOf(\";\"))\n    .replace(/'/g, '\"')\n    .replace(/,([^,]*)$/, '$1');\n\n\nmsg.payload = JSON.parse(counters);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":940,"wires":[["79c99f0d.052df","1b1ff517.ec178b"]]},{"id":"1270f5a6.f1fbca","type":"http request","z":"7afe1c1c.fc2824","name":"Counters","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://portal.rockgympro.com/portal/public/4f7e4c65977f6cd9be6d61308c7d7cc2/occupancy?&iframeid=occupancyCounter&fId=","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":940,"wires":[["f4fd3ee8.d6fb"]]},{"id":"f4fd3ee8.d6fb","type":"html","z":"7afe1c1c.fc2824","name":"Script","property":"payload","outproperty":"payload","tag":"script","ret":"text","as":"single","x":450,"y":940,"wires":[["4dae0793.9e1888"]]},{"id":"e5951380.87a43","type":"comment","z":"7afe1c1c.fc2824","name":"Depot Counters","info":"","x":120,"y":900,"wires":[]},{"id":"79c99f0d.052df","type":"ha-entity","z":"7afe1c1c.fc2824","name":"Big Depot","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Big Depot"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Count"}],"state":"payload.BLD.count","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":740,"y":940,"wires":[[]]},{"id":"1b1ff517.ec178b","type":"ha-entity","z":"7afe1c1c.fc2824","name":"Pudsey Depot","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Pudsey Depot"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Count"}],"state":"payload.LED.count","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":760,"y":1000,"wires":[[]]},{"id":"41400332.3ff434","type":"ha-entity","z":"b65572f2.46d178","name":"Garage Sensor Motion","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Garage Sensor Motion"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.motion","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":380,"y":560,"wires":[[]]},{"id":"39774893.c88b2","type":"hue-motion","z":"b65572f2.46d178","name":"Garage Sensor","bridge":"93032684.db6d98","sensorid":"23","x":120,"y":560,"wires":[["41400332.3ff434","f463b46b.34d6e8"]]},{"id":"f463b46b.34d6e8","type":"ha-entity","z":"b65572f2.46d178","name":"Garage Sensor Battery","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Garage Sensor Battery"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"info.battery","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":380,"y":620,"wires":[[]]},{"id":"f5d0409f.3fe4d","type":"hue-temperature","z":"b65572f2.46d178","name":"Garage Sensor","bridge":"93032684.db6d98","sensorid":"25","x":120,"y":740,"wires":[["adeb39e.924e248"]]},{"id":"2badf19c.29492e","type":"hue-brightness","z":"b65572f2.46d178","name":"Garage Sensor","bridge":"93032684.db6d98","sensorid":"24","x":120,"y":680,"wires":[["72b44ed5.e8386"]]},{"id":"adeb39e.924e248","type":"ha-entity","z":"b65572f2.46d178","name":"Garage Sensor Temperature","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Garage Sensor Temperature"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"C"}],"state":"payload.celsius","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":400,"y":740,"wires":[[]]},{"id":"72b44ed5.e8386","type":"ha-entity","z":"b65572f2.46d178","name":"Garage Sensor Light","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Garage Sensor Light"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Celsius"}],"state":"payload.lightLevel","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":380,"y":680,"wires":[[]]},{"id":"2654fe4.4422c02","type":"server-state-changed","z":"dbfff416.5f6d78","name":"Garage Heater","server":"81491f2d.c6cf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"climate.garage","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":120,"y":300,"wires":[["b1a0223b.b1b5a"]]},{"id":"b1a0223b.b1b5a","type":"stoptimer","z":"dbfff416.5f6d78","duration":"30","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":340,"y":300,"wires":[["69c31801.350de8"],[]]},{"id":"69c31801.350de8","type":"api-call-service","z":"dbfff416.5f6d78","name":"Garage Heater Off","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"climate","service":"turn_off","entityId":"climate.garage","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":300,"wires":[[]]},{"id":"47ce5065.c63c3","type":"inject","z":"dbfff416.5f6d78","name":"Run at startup","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","x":340,"y":360,"wires":[["69c31801.350de8"]]},{"id":"c3570fc0.34495","type":"hue-motion","z":"dbfff416.5f6d78","name":"Garage Sensor","bridge":"93032684.db6d98","sensorid":"23","x":120,"y":160,"wires":[["7b794c1f.7b3724","d0582bbd.e7e758","25ddc43f.436f9c"]]},{"id":"7b794c1f.7b3724","type":"subflow:5f3194a9.d7236c","z":"dbfff416.5f6d78","name":"1-3min","env":[{"name":"minDelay","value":"1","type":"num"},{"name":"maxDelay","value":"3","type":"num"}],"x":320,"y":220,"wires":[["e0e06bd9.1afc18","69c31801.350de8"]]},{"id":"d0582bbd.e7e758","type":"api-call-service","z":"dbfff416.5f6d78","name":"Turn On TV","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"remote","service":"turn_on","entityId":"remote.harmony_remote","data":"{ \"activity\": \"SHIELD TV\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":60,"wires":[[]]},{"id":"e0e06bd9.1afc18","type":"api-call-service","z":"dbfff416.5f6d78","name":"Turn Off TV","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"remote","service":"turn_off","entityId":"remote.harmony_remote","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":220,"wires":[[]]},{"id":"25ddc43f.436f9c","type":"api-call-service","z":"dbfff416.5f6d78","name":"Garage Heater On","server":"81491f2d.c6cf8","version":1,"debugenabled":false,"service_domain":"climate","service":"turn_on","entityId":"climate.garage","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":350,"y":120,"wires":[[]]}]